body{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  
}

.navbar{
  background-color: aqua;
  position: fixed;
  height:75px;
}
.navbar-brand{
  font-size: 30px;
}
.nav-link{
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  text-transform: uppercase;
}
.search{
  border:0.5px solid aqua;
  border-radius: 5px;
  color: red;
}
.btn{
  color: red;
  border: 0.5px solid aqua;
  
}


.card-img-top{
    height: 170px;
}
.back-image{
      width:100%;
      background-image: url("../pages/food-bg.jpg"  );
      background-repeat:no-repeat ;
      background-position: center;
      background-size: cover;
      height: 115vh;
  }
  .quantity_container{
display: flex;
justify-content: space-around;
align-items: center;
}
.btn_quantity{
height: 35px;
cursor: pointer;
}

.product_quantity{
    font-size: 20px;
    }
    .btn_quantity{
    height: 25px;
    cursor: pointer;
    }
    .product_price{
        font-size: 15px;
        font-weight: bold;
    }
    #order-btn{
      display: block;
      margin: 0 auto;
    }

    .linkFooter a{
      text-decoration: none;
      color: black;
      }
      .imageSocial{
      height: 20px;
      }
      #footer-container{
      padding: 20px;
      }