body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    width:100%;
    background-image: url("../loging/food-bg-hd.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    padding:12.875rem 0 9.375rem;
    height: 100vh;  
} 
.login-box{
width: 90%;
max-width: 450px;
position: absolute;
top: 48%;
left: 50%;
transform: translate(-50%,-50%);
background: transparent;
padding: 50px  60px 70px;
text-align: center;


}

.login-box h1{
    font-size: 30px;
    text-align: center;
    margin-bottom:60px ;
    color: #3c00a0;
    position: relative;
}
 .login-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    background: #3c00a0;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.login-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}
.text-u-e-p{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.login-field i{
    margin-left:15px ;
    color: #999;

}
form p{
    text-align: left;
    font-size: 15px;
}
form p a{
    text-decoration: none;
    color:#3c00a0;
}
.button-cont{
   
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
.button-cont button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 1s;
}
.login-group{
    height: 280px;
}
.login-btn{
    background: #eaeaea;
    color: #555;
}