body{
    background-color: #F3F8FF;
.airpods-main-container{
   
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
:root {
    --primary-color:#A82C48;
    --secondary-color:#43121d;
    --third-color:#f98169;
    --white-color:#fff;
    --text-color:#555;
    --text-gray:#999;
    --black-color:#000;
    --primary-font: 'Roboto',sans-serif;
    --secondary-font:'Quicksand',sans-serif;
}
.airpods-cases-heading{
    border-top: 1px solid gray;
    text-align: center;
    color:#A82C48; font-size: 40px; margin-top: 40px;
    padding: 40px;
}
.airpods-cards{
    background-color:var(--text-gray);
    
    border-radius: 22px;
    margin: 10px;
    padding: 5px;
    width: 400px;
    position: relative;
    box-shadow:0px 5px #dad7da;
    margin-bottom: 30px;
}
.airpod-main-img{
    width: 350px;
    height:350px ;
    margin: 18px;
    border-radius: 10px;
   
}
.airpods-img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    margin-top: 0px;

}
.airpod-name
{
    text-align: center;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
    margin-top: 0%;
    color:var(--primary-color);
    margin-bottom: 0%;
}
.button1-container {

    position: absolute;
    top: 550px;
    margin-left: 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cover-price{
    text-align: left;
    font-size: 25px;
    font-weight:bold;
    margin-top: 10px;
    margin-left: 20px;
    color:#272f4e;
}



@media only screen and (max-width:600px)and(max-width:800px){
    .airpods-card{
    width: 300px;

    }
    .btn1 {
        padding: 5px;
        font-size: 20px;
        width: 40px;
        border-radius: 45px;
    
    }
    }
    @media only screen and (max-width:800px)and(max-width:1000px){
        .airpods-card{
            width: 100px;
        
            }  
    }
